.contenedor{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10%;
    gap: 1vw;
}
a{
    background-color:rgb(0, 115, 209);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 0.3vw;
    font-size: 1.6vw;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
}
a:hover{
     background-color:rgba(0, 115, 209, 0.808);
     color: aliceblue;
    font-size: 1.7vw;
    }