.contenedor{
    color: rgb(0, 150, 209);
display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 3vw 4vw 5vw; 
  position: relative;
  max-width: 80%;
}
h1{
    font-size: 4vw;
}